<a href="https://colab.research.google.com/github/devashish1110/EDA_assignments/blob/main/22BDS0093_module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [215]:
import pandas as pd
import numpy as np

##Importing the Dataframe

In [241]:
url = "https://raw.githubusercontent.com/salemprakash/EDA/main/Data/Fertility2.csv"

df = pd.read_csv(url)
print(df.head())

   rownames morekids gender1 gender2  age afam hispanic other  work
0         1       no  female  female   35   no       no    no    40
1         2       no  female    male   33   no       no    no    52
2         3       no  female  female   28   no       no    no    12
3         4       no    male    male   28   no       no    no     0
4         5       no  female    male   31   no       no    no     0

##Understanding the difference between append,concat, merge and join.

In [217]:
df1 = df.head(10)
df2 = df.head(15)
appended_df = pd.concat([df1, df2], ignore_index=True)
print(appended_df)
#This is append because it is row-wise stacking. The values are appended at the end of the first table's values.

    rownames morekids gender1 gender2  age afam hispanic other  work
0          1       no  female  female   35   no       no    no    40
1          2       no  female    male   33   no       no    no    52
2          3       no  female  female   28   no       no    no    12
3          4       no    male    male   28   no       no    no     0
4          5       no  female    male   31   no       no    no     0
5          6       no  female    male   33   no       no    no     0
6          7      yes  female  female   28   no       no    no     0
7          8       no  female  female   25   no       no    no    20
8          9      yes  female  female   31   no       no    no     0
9         10       no    male  female   35   no       no    no    37
10         1       no  female  female   35   no       no    no    40
11         2       no  female    male   33   no       no    no    52
12         3       no  female  female   28   no       no    no    12
13         4       no    male    male   28   no       no    no     0
14         5       no  female    male   31   no       no    no     0
15         6       no  female    male   33   no       no    no     0
16         7      yes  female  female   28   no       no    no     0
17         8       no  female  female   25   no       no    no    20
18         9      yes  female  female   31   no       no    no     0
19        10       no    male  female   35   no       no    no    37
20        11       no    male    male   34   no       no    no     0
21        12      yes  female  female   21   no       no    no    12
22        13       no  female    male   33   no       no    no    12
23        14       no    male  female   30   no       no    no     0
24        15       no  female  female   32   no       no    no    52

In [218]:
appended_df = pd.concat([df1, df2], ignore_index=False)
print(appended_df)
#This is also append only but the indexes dont continue. The second tabel is added as is.
#ignore_index = False is by default

    rownames morekids gender1 gender2  age afam hispanic other  work
0          1       no  female  female   35   no       no    no    40
1          2       no  female    male   33   no       no    no    52
2          3       no  female  female   28   no       no    no    12
3          4       no    male    male   28   no       no    no     0
4          5       no  female    male   31   no       no    no     0
5          6       no  female    male   33   no       no    no     0
6          7      yes  female  female   28   no       no    no     0
7          8       no  female  female   25   no       no    no    20
8          9      yes  female  female   31   no       no    no     0
9         10       no    male  female   35   no       no    no    37
0          1       no  female  female   35   no       no    no    40
1          2       no  female    male   33   no       no    no    52
2          3       no  female  female   28   no       no    no    12
3          4       no    male    male   28   no       no    no     0
4          5       no  female    male   31   no       no    no     0
5          6       no  female    male   33   no       no    no     0
6          7      yes  female  female   28   no       no    no     0
7          8       no  female  female   25   no       no    no    20
8          9      yes  female  female   31   no       no    no     0
9         10       no    male  female   35   no       no    no    37
10        11       no    male    male   34   no       no    no     0
11        12      yes  female  female   21   no       no    no    12
12        13       no  female    male   33   no       no    no    12
13        14       no    male  female   30   no       no    no     0
14        15       no  female  female   32   no       no    no    52

In [219]:
appended_df = pd.concat([df1,df2], axis = 0)
print(appended_df)
#axis = 0 is also by default, same as ignore_index = False.

    rownames morekids gender1 gender2  age afam hispanic other  work
0          1       no  female  female   35   no       no    no    40
1          2       no  female    male   33   no       no    no    52
2          3       no  female  female   28   no       no    no    12
3          4       no    male    male   28   no       no    no     0
4          5       no  female    male   31   no       no    no     0
5          6       no  female    male   33   no       no    no     0
6          7      yes  female  female   28   no       no    no     0
7          8       no  female  female   25   no       no    no    20
8          9      yes  female  female   31   no       no    no     0
9         10       no    male  female   35   no       no    no    37
0          1       no  female  female   35   no       no    no    40
1          2       no  female    male   33   no       no    no    52
2          3       no  female  female   28   no       no    no    12
3          4       no    male    male   28   no       no    no     0
4          5       no  female    male   31   no       no    no     0
5          6       no  female    male   33   no       no    no     0
6          7      yes  female  female   28   no       no    no     0
7          8       no  female  female   25   no       no    no    20
8          9      yes  female  female   31   no       no    no     0
9         10       no    male  female   35   no       no    no    37
10        11       no    male    male   34   no       no    no     0
11        12      yes  female  female   21   no       no    no    12
12        13       no  female    male   33   no       no    no    12
13        14       no    male  female   30   no       no    no     0
14        15       no  female  female   32   no       no    no    52

In [220]:
concat_df = pd.concat([df1,df2], axis = 1,ignore_index=False)
print(concat_df)
#Now this is concatenation. Columnwise stacking

    rownames morekids gender1 gender2   age afam hispanic other  work  \
0        1.0       no  female  female  35.0   no       no    no  40.0
1        2.0       no  female    male  33.0   no       no    no  52.0
2        3.0       no  female  female  28.0   no       no    no  12.0
3        4.0       no    male    male  28.0   no       no    no   0.0
4        5.0       no  female    male  31.0   no       no    no   0.0
5        6.0       no  female    male  33.0   no       no    no   0.0
6        7.0      yes  female  female  28.0   no       no    no   0.0
7        8.0       no  female  female  25.0   no       no    no  20.0
8        9.0      yes  female  female  31.0   no       no    no   0.0
9       10.0       no    male  female  35.0   no       no    no  37.0
10       NaN      NaN     NaN     NaN   NaN  NaN      NaN   NaN   NaN
11       NaN      NaN     NaN     NaN   NaN  NaN      NaN   NaN   NaN
12       NaN      NaN     NaN     NaN   NaN  NaN      NaN   NaN   NaN
13       NaN      NaN     NaN     NaN   NaN  NaN      NaN   NaN   NaN
14       NaN      NaN     NaN     NaN   NaN  NaN      NaN   NaN   NaN

    rownames morekids gender1 gender2  age afam hispanic other  work
0          1       no  female  female   35   no       no    no    40
1          2       no  female    male   33   no       no    no    52
2          3       no  female  female   28   no       no    no    12
3          4       no    male    male   28   no       no    no     0
4          5       no  female    male   31   no       no    no     0
5          6       no  female    male   33   no       no    no     0
6          7      yes  female  female   28   no       no    no     0
7          8       no  female  female   25   no       no    no    20
8          9      yes  female  female   31   no       no    no     0
9         10       no    male  female   35   no       no    no    37
10        11       no    male    male   34   no       no    no     0
11        12      yes  female  female   21   no       no    no    12
12        13       no  female    male   33   no       no    no    12
13        14       no    male  female   30   no       no    no     0
14        15       no  female  female   32   no       no    no    52

#Merging

In [221]:
df_work = df[["rownames", "work"]]

In [222]:
df_work.head(10)

   rownames  work
0         1    40
1         2    52
2         3    12
3         4     0
4         5     0
5         6     0
6         7     0
7         8    20
8         9     0
9        10    37

In [223]:
df_demo = df[["rownames", "gender1", "gender2", "age"]]
df_demo.head(10)

   rownames gender1 gender2  age
0         1  female  female   35
1         2  female    male   33
2         3  female  female   28
3         4    male    male   28
4         5  female    male   31
5         6  female    male   33
6         7  female  female   28
7         8  female  female   25
8         9  female  female   31
9        10    male  female   35

In [224]:
merged = pd.merge(df_work, df_demo, on="rownames", how="inner")
print(merged.head())

   rownames  work gender1 gender2  age
0         1    40  female  female   35
1         2    52  female    male   33
2         3    12  female  female   28
3         4     0    male    male   28
4         5     0  female    male   31

###Combining the Dataset

In [225]:
#Before combining creating the datasets
df_work = pd.DataFrame({
    "rownames": df["rownames"].head(8),
    "Work_Hours": df["work"].head(8)
})
df_age = pd.DataFrame({
    "rownames": df["rownames"].head(8),
    "Age": df["age"].head(8)
})

In [226]:
df_work

   rownames  Work_Hours
0         1          40
1         2          52
2         3          12
3         4           0
4         5           0
5         6           0
6         7           0
7         8          20

In [227]:
df_age

   rownames  Age
0         1   35
1         2   33
2         3   28
3         4   28
4         5   31
5         6   33
6         7   28
7         8   25

In [228]:
df_combined = pd.concat([df_work, df_age], axis=1)
print(df_combined)

   rownames  Work_Hours  rownames  Age
0         1          40         1   35
1         2          52         2   33
2         3          12         3   28
3         4           0         4   28
4         5           0         5   31
5         6           0         6   33
6         7           0         7   28
7         8          20         8   25

###Inner Join

In [229]:
df = df_work.merge(df_age, how = 'inner')
df
#values of both work and age will appear here.

   rownames  Work_Hours  Age
0         1          40   35
1         2          52   33
2         3          12   28
3         4           0   28
4         5           0   31
5         6           0   33
6         7           0   28
7         8          20   25

###Left Join

In [230]:
df = df_work.merge(df_age, how = 'left')
df
#preserves the values in the left df.

   rownames  Work_Hours  Age
0         1          40   35
1         2          52   33
2         3          12   28
3         4           0   28
4         5           0   31
5         6           0   33
6         7           0   28
7         8          20   25

###Right Join

In [231]:
df = df_work.merge(df_age, how = 'right')
df

   rownames  Work_Hours  Age
0         1          40   35
1         2          52   33
2         3          12   28
3         4           0   28
4         5           0   31
5         6           0   33
6         7           0   28
7         8          20   25

###Outer Join

In [232]:
df = df_work.merge(df_age, how = 'outer')
df
#union of both the df's.

   rownames  Work_Hours  Age
0         1          40   35
1         2          52   33
2         3          12   28
3         4           0   28
4         5           0   31
5         6           0   33
6         7           0   28
7         8          20   25

##Reshaping and Pivoting

In [234]:
df_summary = df.groupby("gender1").agg({ "age": "mean",
                                        "work": "mean"
                                        }).round(2)
df_summary.columns = ["Region_A", "Region_B"]
print(df_summary)

         Region_A  Region_B
gender1
female      30.33     19.07
male        30.38     19.34

In [235]:
stacked = df_summary.stack()
stacked
#stack() rotates from col to row

gender1
female   Region_A    30.33
         Region_B    19.07
male     Region_A    30.38
         Region_B    19.34
dtype: float64

In [236]:
stacked.unstack()
#unstack() rotates from row to col

         Region_A  Region_B
gender1
female      30.33     19.07
male        30.38     19.34

In [237]:
#example with another dataset
series1 = pd.Series(['aaa','bbb','ccc'], index = ["a's","b's","c's"])
series2 = pd.Series(['ddd','eee','fff'], index = ["d's","e's","f's"])
series3 = pd.Series(['ggg','hhh','iii'], index = ["g's","h's","i's"])
df = pd.concat([series1,series2,series3], keys = ['first','second','third'])
df

first   a's    aaa
        b's    bbb
        c's    ccc
second  d's    ddd
        e's    eee
        f's    fff
third   g's    ggg
        h's    hhh
        i's    iii
dtype: object

In [238]:
df.unstack()

        a's  b's  c's  d's  e's  f's  g's  h's  i's
first   aaa  bbb  ccc  NaN  NaN  NaN  NaN  NaN  NaN
second  NaN  NaN  NaN  ddd  eee  fff  NaN  NaN  NaN
third   NaN  NaN  NaN  NaN  NaN  NaN  ggg  hhh  iii

#Transformation Techniques

##Data Deduplication

In [239]:
print(df.duplicated().head(30))
df = df.head(30)

first   a's    False
        b's    False
        c's    False
second  d's    False
        e's    False
        f's    False
third   g's    False
        h's    False
        i's    False
dtype: bool

####adding a few duplicates for demo

In [242]:
dupes = df.iloc[[2, 9, 14]]
dupes_df = pd.concat([df, dupes], ignore_index=True)

In [244]:
dupes_df.duplicated()
#values which appear for the second time will show as True

0        False
1        False
2        False
3        False
4        False
         ...
29998    False
29999    False
30000     True
30001     True
30002     True
Length: 30003, dtype: bool

In [245]:
print(dupes_df.duplicated().head(35))
print("Number of duplicates:", dupes_df.duplicated().sum())
#the duplicates are the last three indexes

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
dtype: bool
Number of duplicates: 3

In [247]:
dedupe_df = dupes_df.drop_duplicates()
dedupe_df

       rownames morekids gender1 gender2  age afam hispanic other  work
0             1       no  female  female   35   no       no    no    40
1             2       no  female    male   33   no       no    no    52
2             3       no  female  female   28   no       no    no    12
3             4       no    male    male   28   no       no    no     0
4             5       no  female    male   31   no       no    no     0
...         ...      ...     ...     ...  ...  ...      ...   ...   ...
29995     29996      yes    male  female   34   no       no    no     0
29996     29997       no    male    male   30   no       no    no     4
29997     29998      yes    male  female   34   no       no    no    42
29998     29999      yes    male    male   31  yes       no    no    52
29999     30000       no  female  female   29   no       no    no     0

[30000 rows x 9 columns]

##Replacing Values

In [249]:
replaced = df.replace(to_replace={"no": "No_Kids", "yes": "Has_Kids"})
print(replaced[["rownames", "morekids"]].head(10))

   rownames  morekids
0         1   No_Kids
1         2   No_Kids
2         3   No_Kids
3         4   No_Kids
4         5   No_Kids
5         6   No_Kids
6         7  Has_Kids
7         8   No_Kids
8         9  Has_Kids
9        10   No_Kids

In [250]:
replaced = df.replace(to_replace={0: np.nan, 52: 60})
print(replaced[["rownames", "work"]].head(15))

    rownames  work
0          1  40.0
1          2  60.0
2          3  12.0
3          4   NaN
4          5   NaN
5          6   NaN
6          7   NaN
7          8  20.0
8          9   NaN
9         10  37.0
10        11   NaN
11        12  12.0
12        13  12.0
13        14   NaN
14        15  60.0

##Handling Missing Data

In [251]:
df = df.head(30)

In [252]:
df["extra_col"] = np.nan

In [253]:
# introduce one NaN in each row
for i in range(len(df)):
    df.iloc[i, i % df.shape[1]] = np.nan   # rotate through columns

In [254]:
df["gender3"] = np.nan

In [255]:
df

,rownames,morekids,gender1,gender2,age,afam,hispanic,other,work,extra_col,gender3
0,NaN,no,female,female,35.0,no,no,no,40.0,NaN,NaN
1,2.0,NaN,female,male,33.0,no,no,no,52.0,NaN,NaN
2,3.0,no,NaN,female,28.0,no,no,no,12.0,NaN,NaN
3,4.0,no,male,NaN,28.0,no,no,no,0.0,NaN,NaN
4,5.0,no,female,male,NaN,no,no,no,0.0,NaN,NaN
5,6.0,no,female,male,33.0,NaN,no,no,0.0,NaN,NaN
6,7.0,yes,female,female,28.0,no,NaN,no,0.0,NaN,NaN
7,8.0,no,female,female,25.0,no,no,NaN,20.0,NaN,NaN
8,9.0,yes,female,female,31.0,no,no,no,NaN,NaN,NaN
9,10.0,no,male,female,35.0,no,no,no,37.0,NaN,NaN
10,NaN,no,male,male,34.0,no,no,no,0.0,NaN,NaN
11,12.0,NaN,female,female,21.0,no,no,no,12.0,NaN,NaN
12,13.0,no,NaN,male,33.0,no,no,no,12.0,NaN,NaN
13,14.0,no,male,NaN,30.0,no,no,no,0.0,NaN,NaN
14,15.0,no,female,female,NaN,no,no,no,52.0,NaN,NaN
15,16.0,no,female,male,35.0,NaN,no,no,52.0,NaN,NaN
16,17.0,no,male,male,29.0,no,NaN,no,52.0,NaN,NaN
17,18.0,yes,male,male,33.0,no,no,NaN,35.0,NaN,NaN
18,19.0,yes,female,male,29.0,no,no,no,NaN,NaN,NaN
19,20.0,yes,female,male,34.0,no,no,no,0.0,NaN,NaN
20,NaN,no,female,female,33.0,no,no,no,44.0,NaN,NaN
21,22.0,NaN,male,male,31.0,no,no,no,50.0,NaN,NaN
22,23.0,no,NaN,female,31.0,no,no,no,50.0,NaN,NaN
23,24.0,no,male,NaN,26.0,no,no,no,0.0,NaN,NaN
24,25.0,no,male,female,NaN,no,no,no,20.0,NaN,NaN
25,26.0,yes,female,male,32.0,NaN,no,no,12.0,NaN,NaN
26,27.0,no,female,male,32.0,no,NaN,no,40.0,NaN,NaN
27,28.0,yes,male,female,32.0,no,no,NaN,0.0,NaN,NaN
28,29.0,yes,female,female,35.0,no,no,no,NaN,NaN,NaN
29,30.0,yes,female,female,33.0,no,no,no,52.0,NaN,NaN

####Identifying null values

In [256]:
df.isnull()

,rownames,morekids,gender1,gender2,age,afam,hispanic,other,work,extra_col,gender3
0,True,False,False,False,False,False,False,False,False,True,True
1,False,True,False,False,False,False,False,False,False,True,True
2,False,False,True,False,False,False,False,False,False,True,True
3,False,False,False,True,False,False,False,False,False,True,True
4,False,False,False,False,True,False,False,False,False,True,True
5,False,False,False,False,False,True,False,False,False,True,True
6,False,False,False,False,False,False,True,False,False,True,True
7,False,False,False,False,False,False,False,True,False,True,True
8,False,False,False,False,False,False,False,False,True,True,True
9,False,False,False,False,False,False,False,False,False,True,True
10,True,False,False,False,False,False,False,False,False,True,True
11,False,True,False,False,False,False,False,False,False,True,True
12,False,False,True,False,False,False,False,False,False,True,True
13,False,False,False,True,False,False,False,False,False,True,True
14,False,False,False,False,True,False,False,False,False,True,True
15,False,False,False,False,False,True,False,False,False,True,True
16,False,False,False,False,False,False,True,False,False,True,True
17,False,False,False,False,False,False,False,True,False,True,True
18,False,False,False,False,False,False,False,False,True,True,True
19,False,False,False,False,False,False,False,False,False,True,True
20,True,False,False,False,False,False,False,False,False,True,True
21,False,True,False,False,False,False,False,False,False,True,True
22,False,False,True,False,False,False,False,False,False,True,True
23,False,False,False,True,False,False,False,False,False,True,True
24,False,False,False,False,True,False,False,False,False,True,True
25,False,False,False,False,False,True,False,False,False,True,True
26,False,False,False,False,False,False,True,False,False,True,True
27,False,False,False,False,False,False,False,True,False,True,True
28,False,False,False,False,False,False,False,False,True,True,True
29,False,False,False,False,False,False,False,False,False,True,True

In [257]:
df.notnull()

,rownames,morekids,gender1,gender2,age,afam,hispanic,other,work,extra_col,gender3
0,False,True,True,True,True,True,True,True,True,False,False
1,True,False,True,True,True,True,True,True,True,False,False
2,True,True,False,True,True,True,True,True,True,False,False
3,True,True,True,False,True,True,True,True,True,False,False
4,True,True,True,True,False,True,True,True,True,False,False
5,True,True,True,True,True,False,True,True,True,False,False
6,True,True,True,True,True,True,False,True,True,False,False
7,True,True,True,True,True,True,True,False,True,False,False
8,True,True,True,True,True,True,True,True,False,False,False
9,True,True,True,True,True,True,True,True,True,False,False
10,False,True,True,True,True,True,True,True,True,False,False
11,True,False,True,True,True,True,True,True,True,False,False
12,True,True,False,True,True,True,True,True,True,False,False
13,True,True,True,False,True,True,True,True,True,False,False
14,True,True,True,True,False,True,True,True,True,False,False
15,True,True,True,True,True,False,True,True,True,False,False
16,True,True,True,True,True,True,False,True,True,False,False
17,True,True,True,True,True,True,True,False,True,False,False
18,True,True,True,True,True,True,True,True,False,False,False
19,True,True,True,True,True,True,True,True,True,False,False
20,False,True,True,True,True,True,True,True,True,False,False
21,True,False,True,True,True,True,True,True,True,False,False
22,True,True,False,True,True,True,True,True,True,False,False
23,True,True,True,False,True,True,True,True,True,False,False
24,True,True,True,True,False,True,True,True,True,False,False
25,True,True,True,True,True,False,True,True,True,False,False
26,True,True,True,True,True,True,False,True,True,False,False
27,True,True,True,True,True,True,True,False,True,False,False
28,True,True,True,True,True,True,True,True,False,False,False
29,True,True,True,True,True,True,True,True,True,False,False

In [258]:
df.isnull().sum()

rownames      3
morekids      3
gender1       3
gender2       3
age           3
afam          3
hispanic      3
other         3
work          3
extra_col    30
gender3      30
dtype: int64

In [259]:
df.isnull().sum().sum()

np.int64(87)

In [260]:
df.count()

rownames     27
morekids     27
gender1      27
gender2      27
age          27
afam         27
hispanic     27
other        27
work         27
extra_col     0
gender3       0
dtype: int64

In [261]:
df.gender2[df.gender2.notnull()]

0     female
1       male
2     female
4       male
5       male
6     female
7     female
8     female
9     female
10      male
11    female
12      male
14    female
15      male
16      male
17      male
18      male
19      male
20    female
21      male
22    female
24    female
25      male
26      male
27    female
28    female
29    female
Name: gender2, dtype: object

####Dropping Missing values

In [262]:
df.gender1.dropna()

0     female
1     female
3       male
4     female
5     female
6     female
7     female
8     female
9       male
10      male
11    female
13      male
14    female
15    female
16      male
17      male
18    female
19    female
20    female
21      male
23      male
24      male
25    female
26    female
27      male
28    female
29    female
Name: gender1, dtype: object

In [263]:
df.dropna()

Empty DataFrame
Columns: [rownames, morekids, gender1, gender2, age, afam, hispanic, other, work, extra_col, gender3]
Index: []

#####Dropping by Rows

In [265]:
df.dropna(how = 'all')

,rownames,morekids,gender1,gender2,age,afam,hispanic,other,work,extra_col,gender3
0,NaN,no,female,female,35.0,no,no,no,40.0,NaN,NaN
1,2.0,NaN,female,male,33.0,no,no,no,52.0,NaN,NaN
2,3.0,no,NaN,female,28.0,no,no,no,12.0,NaN,NaN
3,4.0,no,male,NaN,28.0,no,no,no,0.0,NaN,NaN
4,5.0,no,female,male,NaN,no,no,no,0.0,NaN,NaN
5,6.0,no,female,male,33.0,NaN,no,no,0.0,NaN,NaN
6,7.0,yes,female,female,28.0,no,NaN,no,0.0,NaN,NaN
7,8.0,no,female,female,25.0,no,no,NaN,20.0,NaN,NaN
8,9.0,yes,female,female,31.0,no,no,no,NaN,NaN,NaN
9,10.0,no,male,female,35.0,no,no,no,37.0,NaN,NaN
10,NaN,no,male,male,34.0,no,no,no,0.0,NaN,NaN
11,12.0,NaN,female,female,21.0,no,no,no,12.0,NaN,NaN
12,13.0,no,NaN,male,33.0,no,no,no,12.0,NaN,NaN
13,14.0,no,male,NaN,30.0,no,no,no,0.0,NaN,NaN
14,15.0,no,female,female,NaN,no,no,no,52.0,NaN,NaN
15,16.0,no,female,male,35.0,NaN,no,no,52.0,NaN,NaN
16,17.0,no,male,male,29.0,no,NaN,no,52.0,NaN,NaN
17,18.0,yes,male,male,33.0,no,no,NaN,35.0,NaN,NaN
18,19.0,yes,female,male,29.0,no,no,no,NaN,NaN,NaN
19,20.0,yes,female,male,34.0,no,no,no,0.0,NaN,NaN
20,NaN,no,female,female,33.0,no,no,no,44.0,NaN,NaN
21,22.0,NaN,male,male,31.0,no,no,no,50.0,NaN,NaN
22,23.0,no,NaN,female,31.0,no,no,no,50.0,NaN,NaN
23,24.0,no,male,NaN,26.0,no,no,no,0.0,NaN,NaN
24,25.0,no,male,female,NaN,no,no,no,20.0,NaN,NaN
25,26.0,yes,female,male,32.0,NaN,no,no,12.0,NaN,NaN
26,27.0,no,female,male,32.0,no,NaN,no,40.0,NaN,NaN
27,28.0,yes,male,female,32.0,no,no,NaN,0.0,NaN,NaN
28,29.0,yes,female,female,35.0,no,no,no,NaN,NaN,NaN
29,30.0,yes,female,female,33.0,no,no,no,52.0,NaN,NaN

#####Dropping by Columns

In [266]:
df.dropna(how='all', axis=1)

    rownames morekids gender1 gender2   age afam hispanic other  work
0        NaN       no  female  female  35.0   no       no    no  40.0
1        2.0      NaN  female    male  33.0   no       no    no  52.0
2        3.0       no     NaN  female  28.0   no       no    no  12.0
3        4.0       no    male     NaN  28.0   no       no    no   0.0
4        5.0       no  female    male   NaN   no       no    no   0.0
5        6.0       no  female    male  33.0  NaN       no    no   0.0
6        7.0      yes  female  female  28.0   no      NaN    no   0.0
7        8.0       no  female  female  25.0   no       no   NaN  20.0
8        9.0      yes  female  female  31.0   no       no    no   NaN
9       10.0       no    male  female  35.0   no       no    no  37.0
10       NaN       no    male    male  34.0   no       no    no   0.0
11      12.0      NaN  female  female  21.0   no       no    no  12.0
12      13.0       no     NaN    male  33.0   no       no    no  12.0
13      14.0       no    male     NaN  30.0   no       no    no   0.0
14      15.0       no  female  female   NaN   no       no    no  52.0
15      16.0       no  female    male  35.0  NaN       no    no  52.0
16      17.0       no    male    male  29.0   no      NaN    no  52.0
17      18.0      yes    male    male  33.0   no       no   NaN  35.0
18      19.0      yes  female    male  29.0   no       no    no   NaN
19      20.0      yes  female    male  34.0   no       no    no   0.0
20       NaN       no  female  female  33.0   no       no    no  44.0
21      22.0      NaN    male    male  31.0   no       no    no  50.0
22      23.0       no     NaN  female  31.0   no       no    no  50.0
23      24.0       no    male     NaN  26.0   no       no    no   0.0
24      25.0       no    male  female   NaN   no       no    no  20.0
25      26.0      yes  female    male  32.0  NaN       no    no  12.0
26      27.0       no  female    male  32.0   no      NaN    no  40.0
27      28.0      yes    male  female  32.0   no       no   NaN   0.0
28      29.0      yes  female  female  35.0   no       no    no   NaN
29      30.0      yes  female  female  33.0   no       no    no  52.0

###Mathematical Operations with NaN

In [267]:
ser = df.age
ser.sum()

np.float64(839.0)

In [271]:
mean_age = ser.mean()
mean_age

np.float64(31.074074074074073)

In [269]:
ser.cumsum()

0      35.0
1      68.0
2      96.0
3     124.0
4       NaN
5     157.0
6     185.0
7     210.0
8     241.0
9     276.0
10    310.0
11    331.0
12    364.0
13    394.0
14      NaN
15    429.0
16    458.0
17    491.0
18    520.0
19    554.0
20    587.0
21    618.0
22    649.0
23    675.0
24      NaN
25    707.0
26    739.0
27    771.0
28    806.0
29    839.0
Name: age, dtype: float64

###Filling Missing values

In [272]:
filled = df.age.fillna(mean_age)
filled
# this affects the mathematical values to be calculated. even though it is replaced with 0.

0     35.000000
1     33.000000
2     28.000000
3     28.000000
4     31.074074
5     33.000000
6     28.000000
7     25.000000
8     31.000000
9     35.000000
10    34.000000
11    21.000000
12    33.000000
13    30.000000
14    31.074074
15    35.000000
16    29.000000
17    33.000000
18    29.000000
19    34.000000
20    33.000000
21    31.000000
22    31.000000
23    26.000000
24    31.074074
25    32.000000
26    32.000000
27    32.000000
28    35.000000
29    33.000000
Name: age, dtype: float64

In [276]:
df['work'] = df['work'].replace(0, np.nan)
print(df['work'])

0     40.0
1     52.0
2     12.0
3      NaN
4      NaN
5      NaN
6      NaN
7     20.0
8      NaN
9     37.0
10     NaN
11    12.0
12    12.0
13     NaN
14    52.0
15    52.0
16    52.0
17    35.0
18     NaN
19     NaN
20    44.0
21    50.0
22    50.0
23     NaN
24    20.0
25    12.0
26    40.0
27     NaN
28     NaN
29    52.0
Name: work, dtype: float64

In [277]:
df.work.fillna(method = 'ffill')

/tmp/ipython-input-1566767199.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.work.fillna(method = 'ffill')

0     40.0
1     52.0
2     12.0
3     12.0
4     12.0
5     12.0
6     12.0
7     20.0
8     20.0
9     37.0
10    37.0
11    12.0
12    12.0
13    12.0
14    52.0
15    52.0
16    52.0
17    35.0
18    35.0
19    35.0
20    44.0
21    50.0
22    50.0
23    50.0
24    20.0
25    12.0
26    40.0
27    40.0
28    40.0
29    52.0
Name: work, dtype: float64

In [278]:
df.work.fillna(method = 'bfill')

/tmp/ipython-input-3448639453.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.work.fillna(method = 'bfill')

0     40.0
1     52.0
2     12.0
3     20.0
4     20.0
5     20.0
6     20.0
7     20.0
8     37.0
9     37.0
10    12.0
11    12.0
12    12.0
13    52.0
14    52.0
15    52.0
16    52.0
17    35.0
18    44.0
19    44.0
20    44.0
21    50.0
22    50.0
23    20.0
24    20.0
25    12.0
26    40.0
27    52.0
28    52.0
29    52.0
Name: work, dtype: float64

####Interpolating missing values

In [279]:
ser = df.work
ser.interpolate()

0     40.0
1     52.0
2     12.0
3     13.6
4     15.2
5     16.8
6     18.4
7     20.0
8     28.5
9     37.0
10    24.5
11    12.0
12    12.0
13    32.0
14    52.0
15    52.0
16    52.0
17    35.0
18    38.0
19    41.0
20    44.0
21    50.0
22    50.0
23    35.0
24    20.0
25    12.0
26    40.0
27    44.0
28    48.0
29    52.0
Name: work, dtype: float64

####Renaming Axis Indexes

In [280]:
df_summary.rename(index = {"male": "M", "female": "F"})

         Region_A  Region_B
gender1
F           30.33     19.07
M           30.38     19.34

In [281]:
df_summary.rename(index = str.title, columns = str.upper)

         REGION_A  REGION_B
gender1
Female      30.33     19.07
Male        30.38     19.34

##Discretizatoin and Binning

In [291]:
df['work'] = df['work'].replace(np.nan, 0)

In [292]:
bins = [0, 20, 40, 60]
bin_labels = ['low','medium', 'high']

In [294]:
df['work_category'] = pd.cut(df['work'],bins = bins, labels=bin_labels, include_lowest=True)
df
print(df[['work', 'work_category']])

    work work_category
0   40.0        medium
1   52.0          high
2   12.0           low
3    0.0           low
4    0.0           low
5    0.0           low
6    0.0           low
7   20.0           low
8    0.0           low
9   37.0        medium
10   0.0           low
11  12.0           low
12  12.0           low
13   0.0           low
14  52.0          high
15  52.0          high
16  52.0          high
17  35.0        medium
18   0.0           low
19   0.0           low
20  44.0          high
21  50.0          high
22  50.0          high
23   0.0           low
24  20.0           low
25  12.0           low
26  40.0        medium
27   0.0           low
28   0.0           low
29  52.0          high

In [295]:
print(pd.value_counts(df['work_category']))

work_category
low       18
high       8
medium     4
Name: count, dtype: int64

/tmp/ipython-input-665643994.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(df['work_category']))

In [296]:
df['work_category_auto'] = pd.cut(df['work'], 5, precision=1)
print(df[['work', 'work_category_auto']])

    work work_category_auto
0   40.0       (31.2, 41.6]
1   52.0       (41.6, 52.0]
2   12.0       (10.4, 20.8]
3    0.0      (-0.05, 10.4]
4    0.0      (-0.05, 10.4]
5    0.0      (-0.05, 10.4]
6    0.0      (-0.05, 10.4]
7   20.0       (10.4, 20.8]
8    0.0      (-0.05, 10.4]
9   37.0       (31.2, 41.6]
10   0.0      (-0.05, 10.4]
11  12.0       (10.4, 20.8]
12  12.0       (10.4, 20.8]
13   0.0      (-0.05, 10.4]
14  52.0       (41.6, 52.0]
15  52.0       (41.6, 52.0]
16  52.0       (41.6, 52.0]
17  35.0       (31.2, 41.6]
18   0.0      (-0.05, 10.4]
19   0.0      (-0.05, 10.4]
20  44.0       (41.6, 52.0]
21  50.0       (41.6, 52.0]
22  50.0       (41.6, 52.0]
23   0.0      (-0.05, 10.4]
24  20.0       (10.4, 20.8]
25  12.0       (10.4, 20.8]
26  40.0       (31.2, 41.6]
27   0.0      (-0.05, 10.4]
28   0.0      (-0.05, 10.4]
29  52.0       (41.6, 52.0]

In [298]:
df_nonan = df['work'].dropna()
df.loc[df['work'].notna(), 'work_category_quantile'] = pd.qcut(df_nonan, 4, duplicates='drop')
print(df[['work', 'work_category_quantile']])

    work work_category_quantile
0   40.0           (12.0, 43.0]
1   52.0           (43.0, 52.0]
2   12.0         (-0.001, 12.0]
3    0.0         (-0.001, 12.0]
4    0.0         (-0.001, 12.0]
5    0.0         (-0.001, 12.0]
6    0.0         (-0.001, 12.0]
7   20.0           (12.0, 43.0]
8    0.0         (-0.001, 12.0]
9   37.0           (12.0, 43.0]
10   0.0         (-0.001, 12.0]
11  12.0         (-0.001, 12.0]
12  12.0         (-0.001, 12.0]
13   0.0         (-0.001, 12.0]
14  52.0           (43.0, 52.0]
15  52.0           (43.0, 52.0]
16  52.0           (43.0, 52.0]
17  35.0           (12.0, 43.0]
18   0.0         (-0.001, 12.0]
19   0.0         (-0.001, 12.0]
20  44.0           (43.0, 52.0]
21  50.0           (43.0, 52.0]
22  50.0           (43.0, 52.0]
23   0.0         (-0.001, 12.0]
24  20.0           (12.0, 43.0]
25  12.0         (-0.001, 12.0]
26  40.0           (12.0, 43.0]
27   0.0         (-0.001, 12.0]
28   0.0         (-0.001, 12.0]
29  52.0           (43.0, 52.0]